<script>
  import {ref} from 'vue';
  import axios from 'axios';

  export default {
    setup() {

      const length = ref([0]);

      const getTodos = () => {
        axios
          .get("https://jsonplaceholder.typicode.com/todos")
          .then((response) => {
            rows.value = response.data;
            length.value = response.data.length
            console.log('itemzzz: ', rows.value)
        });
      };

      getTodos();

      let rows = ref([]);
      let columns = ref([
        {
          name: "title",
          label: "Title",
          align: "left",
          field: "title",
        },
        {
          name: "completed",
          label: "Completed",
          align: "left",
          field: "completed",
        },
      ]);

      // console.log('lengthhhaaaaa: ', Object.values(length)[4])
      console.log('lengthhhaaaaa: ', {length}.length.value)

      // return { rows, columns };

    let form = ref({
      userId: 1,
      title: null,
      completed: false,
    });
    
    // add todo
    let btnLoadingState = ref(false);

    const addTodo = () => {
	    btnLoadingState.value = true;
      axios
        .post("https://jsonplaceholder.typicode.com/todos", form.value)
        .then((response) => {
          if (response.status === 201) {
            rows.value.unshift(response.data);
            form.value.title = null;
            form.value.id += form.value.id;
            console.log('added values: ', rows.value)
          }
        btnLoadingState.value = false;
      });
    };
    console.log('values: ', form.value)

    let selectedRow = ref({});
    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.title = row.title;
    };

    const updateTodo = () => {
      btnLoadingState.value = true;
      axios
        .put(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.userId}`,
          {
            title: form.value.title,
          }
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value[index].title = response.data.title;
            form.value.title = null;
            selectedRow.value = {};
            console.log('idddd', form.value.id)
          }
          btnLoadingState.value = false;
        });
      };

    // delete todo
    let deleteBtnLoadingState = ref(false);

    // changed to delete by title T__T
    const deleteTodo = () => {
      deleteBtnLoadingState.value = true;
      axios
        .delete(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`
        )
        .then((response) => {
          if (response.status === 200) {
            rows.value = rows.value.filter(
              (row) => row.id !== selectedRow.value.id
            );
            form.value.title = null;
          }
          deleteBtnLoadingState.value = false;
        });
    };

    return {
      rows,
      columns,
      form,
      btnLoadingState,
      addTodo,
      selectedRow,
      onRowClick,
      updateTodo,
      deleteBtnLoadingState,
      deleteTodo,
      length
    };

    },
  };

</script>

<template>
  <q-page class="q-ma-xl">
    <q-form @submit="!selectedRow.id ? addTodo() : updateTodo()" class="q-ma-md">
      <q-input v-model="form.title" label="Input Field" />
      <q-btn
        :loading="btnLoadingState"
        type="submit"
        :label="!selectedRow.id ? 'Submit' : 'Update'"
        color="primary"
      />
      <q-btn
        :loading="deleteBtnLoadingState"
        v-if="selectedRow.id"
        @click="deleteTodo()"
        class="q-ml-md"
        label="Delete"
        color="negative"
      />

    </q-form>

    <!-- @row-click event -->
    <q-table 
      title="Todos"
      :rows="rows"
      :columns="columns"
      row-key="name"
      @row-click="onRowClick"
    />
  </q-page>
</template>